name: Tests

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request: ~

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  generate-test-matrix:
    name: Generate test matrix
    runs-on: ubuntu-latest
    outputs:
      folders: ${{ steps.get-folders.outputs.folders }}
    steps:
      - name: Check out code from Github
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          check-latest: true
      - name: Get folders with tests
        id: get-folders
        run: |
          pip install -U pip -r requirements_test.txt
          FOLDERS=$(python scripts/helper.py list-test-folders --exclude distutils)
          echo "folders: ${FOLDERS}"
          echo "folders=${FOLDERS}" >> $GITHUB_OUTPUT

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    needs: [generate-test-matrix]
    strategy:
      fail-fast: false
      matrix:
        folder: ${{ fromJson(needs.generate-test-matrix.outputs.folders) }}
        version: ["3.11", "3.12", "3.13"]
    steps:
      - name: Check out code from Github
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version }}
          check-latest: true
      - name: Run tests
        run: |
          pip install -U pip -r requirements_test.txt
          python scripts/helper.py install-local-requirements ${{ matrix.folder }}
          cd ${{ matrix.folder }}
          python -m unittest
